/* footer */

.dcs-footer {
   background-color: var(--green);
   box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
   font-family: 'BebasNeue';
   width: 100%;
   color: white;
}

.dcs-footer__close {
   height: 3rem;
   position: absolute;
   right: 0;
   top: 0;
   width: 3rem;
}

.dcs-footer__container {
   display: flex;
   flex-wrap: nowrap;
   margin: 0 auto;
   max-width: 50rem;
   align-items: center;
}

.dcs-footer__container:before {
   content: url('images/repair-banner-dirty.png');
   margin-left: -193px;
   margin-top: -2px;
   height: 144px;
}

.dcs-footer__logo {
   display: block;
   flex: 0 0 15%;
}

.dcs-footer__main {
   flex: 1;
   margin-top: -.4rem; /* magic number: top text align to logo */
   margin: 0 1rem;

   flex-direction: column;
   text-align: center;
}

.dcs-footer__body {
   color: white;
   font: normal .875rem/1rem 'Katwijk Bold', Courier, sans-serif;
   max-width: 26rem;
}

.dcs-footer__action {
   margin: 1rem 0 0;
}

.dcs-footer__privacy-link {
   margin-top: .5rem;
   text-align: center;
}

.dcs-footer-content-top {
   font-size: 48px;
   margin-bottom: .5rem;
   font-weight: 700;
   text-shadow: 0px 2px 4px rgba(17, 22, 26, 0.1), 0px 1px 2px rgba(17, 22, 26, 0.1);
}

.dcs-footer-content-bottom {
   font-size: 18px;
   font-weight: 400;
   text-transform: none;
   font-family: 'Helvetica', sans-serif;
}

.dcs-footer__privacy-link a {
   color: #E0E0E0 !important;
   font-size: .8rem;
}

/* Breakpoint */
@media (max-width: 899px) {
   .dcs-footer__container {
      flex-direction: column;
      padding: 2rem .5rem;
   }

   .dcs-footer__container:before {
      display: none;
   }

   .dcs-footer__logo_top {
      display: block !important;
      width: 70px;
      margin-bottom: 14px;
   }

   .dcs-footer__logo {
      display: none;
   }

   .dcs-footer__main {
      flex: 0 0 100%;
      margin: 0;
   }

   .dcs-button {
      display: block;
      margin: 0 auto 12px;
   }
}

@media (min-width: 900px) {

   .dcs-footer__container {
      max-width: 60rem;
   }

   .dcs-footer__logo {
      flex: 0 0 10%;
   }

   .dcs-footer__main {
      flex: 1;
      display: flex;
   }

   .dcs-footer__body {
      font-size: 1.125rem;
      line-height: 1.5rem;
      max-width: none;
   }

   .dcs-footer__action {
      display: inline-block;
      margin: 0 0 0 1rem;
   }
}

