/* footer */

.dcs-footer {
   font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Noto Sans',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
   width: 100%;
   color: rgb(31, 41, 55);
   overflow: hidden;
   padding-top: 15px;
}

.dcs-footer__close {
   height: 3rem;
   position: absolute;
   right: 0;
   top: 0;
   width: 3rem;
   z-index: 10;
}

.dcs-footer__container {
   box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.1),0 -4px 6px -4px rgb(0 0 0 / 0.1);
   background-color: #fff;
}

.dcs-footer__container-inner {
   max-width: 1024px;
   display: flex;
   flex-wrap: nowrap;
   margin: 0 auto;
   align-items: center;
   height: 180px;
   overflow: hidden;
   position: relative;

   &:after {
      content: url('images/iphone14bg.png');
      opacity: 1;
      position: absolute;
      right: 160px;
      top: 40px;
      z-index: 0;
   }
}

.dcs-footer__logo {
   display: block;
   flex: 0 0 15%;
}

.dcs-footer__main {
   flex: 1;
   flex-direction: column;
   text-align: left;
   position: relative;
   z-index: 6;
}

.dcs-footer__body {
   max-width: 26rem;
}

.dcs-footer__action {
   margin-right: 1rem;
   position: relative;
   z-index: 7;
}

.dcs-footer__privacy-link {
   margin-top: .5rem;
   text-align: center;
}

.dcs-footer-content-top {
   font-size: 36px;
   margin-bottom: .5rem;
   font-weight: 700;
}

.dcs-footer-highlight {
   color: #3b82f6;
}

.dcs-footer-content-bottom {
   font-size: 24px;
   font-weight: 400;
   text-transform: none;
}

.dcs-footer__privacy-link a {
   color: rgb(31, 41, 55) !important;
   font-size: .8rem;
}

/* Breakpoint */
@media (max-width: 1023px) {
   .dcs-footer__main {
      margin-bottom: 1rem;
      text-align: center;
   }

   .dcs-footer__container-inner {
      padding: 1rem;
      flex-direction: column;
      box-sizing: border-box;
      height: auto;
   }

   .dcs-footer__action {
      margin-top: 1rem;
   }

   .dcs-footer__container-inner::after {
      display: none;
   }
}

@media (min-width: 1024px) {
   .dcs-footer__main {
      flex: 1;
      display: flex;
   }

   .dcs-footer__body {
      font-size: 1.125rem;
      line-height: 1.5rem;
      max-width: none;
   }

   .dcs-footer__action {
      display: inline-block;
   }
}

